---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alprazolam"> 
	<main>
		<h1> <span class="text-gradient"> Alprazolam 0.5 mg</span></h1>
		<p class="instructions">
			El <a href="https://es.wikipedia.org/wiki/Alprazolam"> Alprazolam</a> se utiliza para el tratamiento de los estados de ansiedad, especialmente en las crisis de angustia, agorafobia, ataques de pánico y estrés intenso. Es un químico con propiedades demostradas para dormir casi sin efectos adversos en dosis bajas. </p>
        <img src="../../../imgAlpra.jpg" class="image" width="500" height="300">
		<p class="precio"> Precio por unidad S/1.50</p>
		<button class="boton"></button>
		<a class="whatsapp-link" href="https://wa.me/51904719375"> </a>
		<h2>Realice sus<br>consultas</h2>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
	h2 {
		position: fixed;
		bottom: 130px;
		right: 50px;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 700;
	}
	.boton{
		position: fixed;
        bottom: 75px;
        right: 70px;
        width: 60px;
        height: 60px;
		background: none;
	}
	.whatsapp-link {
        position: fixed;
        bottom: 80px;
        right: 44px;
        width: 100px;
        height: 50px;
		background-image: url(../../walogo.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		text-align: center;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.precio {
		font-size: 2rem;
		font-weight: 700;
		margin: 0;
		text-align: center;
	}
</style>
