---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lorazepam en Lima"> 
	<main>
		<h1> <span class="text-gradient"> Lorazepam 1 mg</span></h1>
		<p class="instructions">
			El <a href="https://es.wikipedia.org/wiki/Lorazepam"> Lorazepam</a> es un fármaco perteneciente al grupo de las benzodiazepinas de alta potencia que tiene las cinco propiedades intrínsecas de este conjunto: ansiolítico, amnésico, sedante e hipnótico, anticonvulsivo y relajante muscular. </p>
		<img src="public/imgLorazepam.jpg" class="image" width="500" height="350">
		<p class="precio"> Precio por unidad S/9.00</p><br><br><br><br><br><br><br><br>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		text-align: center;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.precio {
		font-size: 2rem;
		font-weight: 700;
		margin: 0;
		text-align: center;
	}
</style>