---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Modafinilo"> 
	<main> <h1> <span class="text-gradient"> Misoprostol 200 µg </span></h1>
		<p class="instructions">
			El <a href="https://es.wikipedia.org/wiki/Misoprostol"> Misoprostol</a> es un análogo semisintético de la prostaglandina E1 (PGE1), utilizado para la prevención y tratamiento de las úlceras gástricas y duodenales. También se utiliza, en algunos países, para la práctica de abortos con medicamentos y en concreto para la inducción del parto </p>
        <img src="../../../imgMisoprostol.jpg" class="image" width="500" height="300">
		<p class="precio"> Precio por unidad S/15.00</p>
        <a href="https://bancos.salud.gob.ar/sites/default/files/2020-12/Folleto-ILE-con-medicamentos2.pdf" class="linkmiso"> Principales usos del misoprostol </a><br><br><br><br><br><br><br><br>
    </main>
</Layout>
		
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
    .linkmiso {
        display: block;
        text-align: center;
		border: 2px solid black;
		border-radius: 0.4em;
    }

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		text-align: center;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.precio {
		font-size: 2rem;
		font-weight: 700;
		margin: 0;
		text-align: center;
	}
</style>
