---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Botica San Tito">
	<main>
		<h1> <span class="text-gradient">Botica San Tito</span></h1>
		<p class="instructions"> Los mejores productos con la mayor calidad con y sin receta
			</p>
		<ul role="list" class="link-card-grid"> 
			<Card
				href="../../nootrópicos"
				title="Nootrópicos"
				body="Medicamentos para mejorar la capacidad intelectual, desempeño y memoria"
			/>
			<Card
				href="../../antidepresivos"
				title="Antidepresivos"
				body="Medicamentos para mejorar el estado de ánimo y productividad"
			/>	
			<Card
				href="../../analgésicos"
				title="Analgésicos"
				body="Medicamentos para reducir el dolor y mejorar la calidad de vida"
			/>
			<Card
				href="../../anorexígenos"
				title="Anorexígenos"
				body="Medicamentos para bajar de peso y quemar grasa"
			/>
			<Card
				href="../../ansiolíticos"
				title="Ansiolíticos"
				body="Medicamentos para dormir y reducir la ansiedad"
			/>
			<Card
				href="../../prostaglandinas"
				title="Prostaglandinas"
				body="Medicamentos prevención y tratamiento de la úlceras"
			/>
		</ul>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		padding-bottom: 2rem;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		padding-left: 4rem;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: rgb(255, 255, 255);
		padding: 1rem;
		border-radius: 0.4rem;
		margin: auto;
		text-align: center;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
