---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="google-site-verification" content="A9pDIx4EoZuV6AOnb5azgxICqcptLaRoo8sX3Fm3Qrk" />
		<title>{title}</title>
	</head>
	<header>
		<img src="../../logo.JPG" width="100" height="80">
		<nav>
			<a href="https://pastillaslima.netlify.app/inicio/">Inicio</a>
			<a href="https://pastillaslima.netlify.app/productos/">Productos</a>
			<a href="https://pastillaslima.netlify.app/nosotros/">Nosotros</a>
			<a href="https://wa.me/51904719375">Contacto</a>
		</nav>
	</header><br><br><br><br>
	<body>
		<slot />
	</body>
	<footer><p>Se hacen descuentos al por mayor <br> Llamadas o WhatsApp al +51 904719375</p></footer>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #4b519c 50%, white 50%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-image: "./logo.JPG";
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	footer p {
 		 font-size: 1.5em;
 		 color: #ffffff;
		 background-color: #333;
		 text-align: center;
		 position: fixed;
  		 bottom: 0;
  		 width: 100%;
		 margin: auto;

	}
	header {
   		display: flex;
   		align-items: center;
   		justify-content: space-between;
   		background-color: #4b519c;
   		padding: 1rem;
   		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	}

	header img {
   		width: 80px;
   		height: 60px;
   		margin-right: 0.5rem;
	}

	header nav a {
	   margin-left: 1em;
	   font-size: 1.3em;
	   font-weight: 650;
	   text-decoration: none;
	   color: #000000;
	   padding: 1rem;
	   border-radius: 5px;
	   transition: all 0.2s;
	}
	header nav a:hover {
   		background-color: #000000;
   		color: #ffffff;
   		cursor: pointer;
	}

	body {
		background-image: url("../../../fondoooo.JPG");
        background-size: auto;
        background-repeat: no-repeat;
	}
	
</style>
